@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}

.unvissible {
    display: none;
}


.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

li, p, i, b, div, input {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.f_big {
    font-family: 'Roboto', sans-serif;
    font-size: 25pt
}

.f_count {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt
}

.f_norm {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt
}

.f_small {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt
}

.sourse {
    width: 60%;
}


.secondary {
}

.right {
    float: right;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.left {
    float: left;
}

.count {
    width: 20%;
}

.card {
    width: 90%;
    float: left;
}

nav {
    float: right;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    line-height: 38px;
}

li {
    display: inline-block;
}


input[name="person_search"] {
    width: 80%;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    padding-bottom: 5px \0;
}

input.btn {
    width: 20%;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    padding-bottom: 5px \0;
}

body {
    margin: 20px;
	padding: 0;
}

table {
    width: 100%; /*Ширина таблицы*/
    margin-bottom: 18px; /*Отступ снизу от таблицы*/
    padding: 0; /*Отступы внутри таблицы*/
    font-size: 13px; /*Размер шрифта*/
    border: 1px solid #dddddd; /*Граница таблицы*/
    border-spacing: 0; /*Отступы между границами ячеек*/
    border-collapse: separate; /*Границы ячеек не склеиваются*/
	-webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
    -moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
    border-radius: 5px; /*Радиус скругления углов у таблицы*/
    color: #666666; /*Цвет текста в таблице*/
	font-family: 'Roboto', sans-serif; /*Семейство шрифтов*/
}

table th, table td {
    padding: 10px 10px 9px; /*Отступы внутри ячеек*/
    line-height: 18px; /*Межстрочный интервал*/
    text-align: left; /*Выравнивание текста по левому краю*/
}

table th {
    padding-top: 9px; /*Отступы внутри ячеек*/
    font-weight: bold; /*Установка жирного начертания шрифта*/
    vertical-align: middle; /*Выравнивание по вертикали. Текст находится по середине*/
    color: black; /*Черный цвет в ячейках заголовков таблицы*/
}

table td {
    vertical-align: top; /*Выравнивание содержимого ячейки по верхнему краю*/
    border-top: 1px solid #ddd; /*Верхняя граница ячейки*/
}

table th+th,table td+td,table th+td {
    border-left: 1px solid #ddd; /*Стиль для левой границы между двумя ячейками*/
}

table thead tr:first-child th:first-child, /*Первая строка первая ячейка в заголовке таблицы*/
table tbody tr:first-child td:first-child /*Первая строка первая ячейка в теле таблицы*/{
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

table thead tr:first-child th:last-child, /*Первая строка последняя ячейка в заголовке таблицы*/
table tbody tr:first-child td:last-child /*Первая строка последняя ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

table tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/{
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

table tr:hover {
    background-color: #f2f2f2; /*Цвет строки при наведении курсора мыши*/
}