<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <form action="/select" method="get" class="left ">
            <input type="text" name="person_search"> <input type=submit class="btn" value="Поиск">
        </form>
    </div>
</header>
{% block body %}{% endblock %}
</body>
</html>