{% extends "base.html" %}
{% block body %}


    <div class="main">
        <div class="container">

            <div class="row">
                <div class="card">
                    <p class="f_big">{{ profile_dict.full_name }}</p>
                </div>
            </div>


            <div class="row">
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Статей по РНИЦ: </i>{{ profile_dict.hirsh.main.publications }} </p></div>
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Цитат по РНИЦ: </i>{{ profile_dict.hirsh.main.citations }} </p></div>
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Статей по Google Scholar: </i>{{ profile_dict.scholar.art_count }} </p></div>
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Цитат по Google Scholar: </i>{{ profile_dict.scholar.citations }} </p></div>
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Патентов: </i>{{ profile_dict.patent.count }} </p></div>
                <div class="left count"><p class="f_count"><i class="f_norm">
                    Диссертаций: </i>{{ profile_dict.dissercast.count }} </p></div>
            </div>


            <div class="row">
                <div class="sourse left">
                    <ul>
                        <li><i>Источники данных:</i></li>
                        <li class="f_small">РИНЦ;</li>
                        <li class="f_small">Google.Scholar;</li>
                        <li class="f_small">База диссертаций;</li>
                        <li class="f_small">Базы патентов;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="secondary">
        <div class="container">
            <div class="row">
                <p><b>Google.Scholar</b></p>
                <table>
                    <tbody>
                    {% for key, value in profile_dict.scholar.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p><b>База патентов</b></p>
                <table>
                    <tbody>
                    {% for key, value in profile_dict.patent.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p><b>Базы диссертаций</b></p>
                <table>
                    <tbody>
                    {% for key, value in profile_dict.dissercast.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p><b>РИНЦ</b></p>
                <table>
                    <tbody>
                    {% for key, value in profile_dict.hirsh.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}