{% extends "base.html" %}
{% block body %}
    {% for suggest in suggestions %}
        <div class="main">
            <div class="container">
                <div class="row">
                    <form action="/perform" method="post" class="left ">
                        <div class="card">
                            <input class="f_big" type="text" value="{{ suggest.name }}">
                            <input type="hidden" name="query_id" value="{{ query_id }}">
                            <input type="hidden" name="full_name" value="{{ suggest.name }}">
                            <input type="submit" value="Детальный анализ">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="card">
                        <p class="f_norm">{{ suggest.work }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="left count"><p class="f_count"><i class="f_norm">
                        Статей: </i>{{ suggest.publications }} </p></div>
                    <div class="left count"><p class="f_count"><i class="f_norm">
                        Цитат: </i>{{ suggest.citations }} </p></div>
                </div>
                <div class="row">
                    <div class="left count"><p class="f_count"><i class="f_norm">
                        Последние публикации: </i>{{ suggest.last_articles }} </p></div>
                </div>
                <div class="row">
                    <div class="sourse left">
                        <ul>
                            <li><i>Источники данных:</i></li>
                            <li class="f_small">РИНЦ;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}